--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
torch
torchvision
pillow
opencv-python-headless==4.8.0.76
matplotlib
numpy==1.26.4
captum
python-multipart
scikit-learn
requests
